@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="nav navbar-nav">
        <a class="btn btn-info" href="#">Login</a>
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    <div class="content px-4">
        @Body
    </div>
</div>
